* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0f172a;
    color: white;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1e293b;
    color: white;
}

.hero span {
    color: #38bdf8;
}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #38bdf8;
    cursor: pointer;
}

/* SECTION */
section {
    padding: 60px;
    text-align: center;
}

/* PROJECT */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    background: #f1f5f9;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* CONTACT */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
}

form button {
    padding: 10px;
    background: #0f172a;
    color: white;
    border: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
    color: white;
}
